<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @email.to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
